html {
    height: 100vh;
}

.body {
    height: 100%;
}

.app-container {
    display: grid;
    grid-template-rows: 90vh 10vh;
}

.triple {
    display: grid;
    grid-template-columns: 0.8fr 4.8fr;
    height: auto;
}


.aside {
    margin: 0 1rem;
}

.aside a {
    color: white;
    opacity: 70%;
    transition: 0.2s;
}

.aside a:hover {
    opacity: 100%;
}

.navegador {
    margin-bottom: 3rem;
}

.navegador ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.nav-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-icons img {
    width: 1.2rem;
    height: 1.2rem;
    filter: invert(100%) sepia(100%) saturate(24%) hue-rotate(26deg) brightness(105%) contrast(105%);
}



.playlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lista-reproduccion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-height: 53vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
}

.lista-reproduccion::-webkit-scrollbar {
    width: 0;
}

.scrollbar {
    content: '';
    position: absolute;
    width: 0.6rem;
    height: 50%;
    background-color: #808080;
    top: 0;
    right: 0;
    opacity: 0.7;
    transition: 0.2s;
}

.scrollbar:hover {
    opacity: 1;
}

.espaciado {
    border-bottom: 1px solid white;
    width: 100%;
    opacity: 20%;
    margin: 0 auto;
}

.agregar-playlist {
    display: flex;
    background-color: white;
    padding: 0.2rem;
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

.agregar-playlist img {
    filter: opacity(0.8) drop-shadow(0 0 0 black);
    width: 80%;
    height: 80%;
    margin: auto;
}

.me-gusta {
    display: flex;
    background: rgb(188, 224, 218);
    background: linear-gradient(315deg, rgba(188, 224, 218, 1) 0%, rgba(82, 33, 242, 1) 100%);
    padding: 0.2rem;
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

#me-gusta {
    width: 75%;
    height: 75%;
    margin: auto;
}

.episodios {
    background-color: #006450;
    display: flex;
    padding: 0.2rem;
    border-radius: 3px;
    width: 25px;
    height: 25px;

}

#episodios {
    filter: invert(87%) sepia(46%) saturate(3340%) hue-rotate(73deg) brightness(88%) contrast(91%);
    width: 60%;
    height: 75%;
    margin: auto;

}

/* HEADER */

.header-contenedor {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 90%;
    height: 4rem;
    align-items: center;
    margin: 0 auto 2rem auto;
}

.header-controles {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fondo-controles {
    padding: 0.5rem;
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    background-color: #000000;
}

.fondo-controles img {
    filter: invert(100%) sepia(100%) saturate(24%) hue-rotate(26deg) brightness(105%) contrast(105%);
}

.header-perfil {
    display: flex;
    color: white;
    gap: 0.5rem;
    align-items: center;
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10rem;
    height: 2.2rem;
    position: relative;
}

.logout-hidden {
    display: none;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #1DB954;
    border: none;
    width: 6rem;
    height: 2rem;
    right: 0;
    bottom: -3rem;
    cursor: pointer;
    border-radius: 2rem;
}

.header-perfil:hover {
    background-color: #282828;
}

.header-perfil .perfil-foto {
    width: 2rem;
    border-radius: 5rem;
}

.header-perfil .perfil-icono {
    width: 0.75rem;
    height: 0.75rem;
    filter: invert(100%) sepia(100%) saturate(24%) hue-rotate(26deg) brightness(105%) contrast(105%);

}

/* PLAYLIST */

.contenedor-playlist {
    display: flex;
    gap: 2rem;
    width: 95%;
    margin: 0 auto;
}

.playlist-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist-privacidad {
    margin-top: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.playlist-titulo {
    font-size: 6rem;
    margin: 0;
}

.playlist-comentario {
    color: #808080;
}

.playlist-misc {
    display: flex;
    gap: 0.3rem;
}

.main {
    overflow-y: scroll;
    background: rgb(18, 18, 18);
    background: linear-gradient(0deg, rgba(18, 18, 18, 1) 70%, rgba(29, 14, 69, 1) 100%);
}

.aside2 {
    overflow-y: scroll;
}

/* REPRODUCTOR */

.footer {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    background-color: #181818;
    width: 100%;
    border-top: 1px solid #282828;
    padding: 1rem;
    align-items: center;
}

.reproductor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 4rem;
}

.controls {
    display: grid;
    grid-template-columns: repeat(5, 3.25rem);
    margin: auto;
}


.control-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    transition: 0.2s;
    height: 2.5rem;
    width: 2.5rem;
}

.control-icons:nth-child(1),
.control-icons:nth-child(2),
.control-icons:nth-child(3),
.control-icons:nth-child(4),
.control-icons:nth-child(5) {
    filter: invert(100%) sepia(100%) saturate(24%) hue-rotate(26deg) brightness(105%) contrast(105%);
    margin: auto;
    padding: .6rem;
}

.opacidad {
    opacity: 1;
}

.control-icons:nth-child(3) {
    filter: none;
}


.control-icons:hover {
    opacity: 100%;
}


.reproductor .barra-tiempo {
    grid-template-columns: 0.5fr 22fr 0.5fr;
    gap: 0.5rem;
}

.play-pause {
    background-color: white;
    border-radius: 2rem;
    opacity: 1;
}


.play-pause:hover {
    transform: scale(1.15);
}

.play-pause img {
    transition: 0.2s;
    margin-left: 0.1rem;
}

.barra-tiempo {
    display: grid;
}

.barra-tiempo p {
    font-size: 0.8rem;
}

.barra-progreso {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 5rem;
    cursor: pointer;
    margin: auto 0.1rem;
}

.barra-progreso .tiempo {
    position: absolute;
    width: 0%;
    background-color: white;
    height: inherit;
    border-radius: inherit;
}

.tiempo:hover {
    background-color: #1DB954;
}

.barra-progreso:hover .tiempo:hover::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: inherit;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
}

/* Volumen */

.barra-volumen {
    display: grid;
}

.barra-volumen p {
    font-size: 0.8rem;
}

.vol-barra-progreso {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 5rem;
    cursor: pointer;
    margin: auto 0.1rem;
}

.vol-barra-progreso .volumen-actual {
    position: absolute;
    width: 100%;
    background-color: white;
    height: inherit;
    border-radius: inherit;
}

.volumen-actual:hover {
    background-color: #1DB954;
}

.vol-barra-progreso:hover .volumen-actual:hover::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: inherit;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
}

/* Miscelaneos */

.contenedor-miscelaneos {
    display: flex;
    justify-content: flex-end;
}

.miscelaneos {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr;
    gap: 0.7rem;
}


.miscelaneos img {
    width: 1rem;
    margin: auto;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(293deg) brightness(103%) contrast(115%);
    opacity: 0.7;
}

.miscelaneos img:hover {
    opacity: 1;
}

.volumen {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0.5rem;
}

.cancion-contenedor {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cancion-album .cancion-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.cancion-album img {
    width: 4rem;
    height: 4rem;
}

.cancion-nombre a {
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}

.cancion-nombre:hover {
    text-decoration: underline;
}

.cancion-artista a {
    font-size: 0.7rem;
    opacity: 0.7;
    transition: 0.2s;
    text-decoration: none;
    color: white;
}

.artista1 a:hover {
    text-decoration: underline;
    opacity: 1;
}

.artista2 a:hover {
    text-decoration: underline;
    opacity: 1;
}


.cancion-like img {
    filter: invert(78%) sepia(19%) saturate(4152%) hue-rotate(82deg) brightness(93%) contrast(83%);
    width: 1rem;
}

.cancion-contenedor .cancion-album {
    width: 4rem;
    filter: drop-shadow(0 0 5 black);
}

/* Lista de Reproducción */

.tabla-contenedor {
    width: 95%;
    margin: 0 auto;
}

.tabla-head-fila {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 3fr 2fr 1fr;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
}

.tabla-datos-fila {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 3fr 2fr 1fr;
    padding: 0.5rem 0;
    align-items: center;
}

.datos-titulo {
    display: flex;
    gap: 1rem;
}

.titulo-imagen {
    width: 2.5rem;
    height: 2.5rem;
}

/* LOGIN */

body {
    position: relative;
}

.login-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #181818
}

.login-contenedor {
    margin: 10rem auto;
    width: 25rem;
    height: 26%;
    background-color: #282828;
    border-radius: 2rem;
    padding: 2rem;
}

.hidden {
    display: none;
}

/* FORMULARIO */

.formulario {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    margin: 0 auto;
}

.formulario input {
    width: 20rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.campo {
    display: flex;
    flex-direction: column;
}

#submit {
    position: absolute;
    right: 0;
    width: 6rem;
    border: none;
    bottom: -4rem;
    cursor: pointer;
    background-color: #1DB954;
}


/* MODAL  */

.modal-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    top: 0%;
    left: 0%;
}

.modal-contenedor {
    margin: 10rem auto;
    width: 50rem;
    height: 50%;
    background-color: #282828;
    border-radius: 2rem;
    padding: 5rem;
}

.modal-contenedor h1 {
    font-size: 2.5rem;
}

.modal-contenedor label {
    font-size: 1.4rem;
}

.hidden {
    display: none;
}

/* CREAR PLAYLIST */


.botones {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: flex-end;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.8rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 2rem;

}

.verde {
    background-color: #1DB954;
}

.negro {
    border: 2px solid #1DB954;
}

#playlist-nombre {
    margin-top: 1rem;
    border-radius: 2rem;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.duracion-like {
    display: flex;
    justify-content: space-evenly;
}

.datos-like {
    width: 1rem;
    filter: invert(58%) sepia(57%) saturate(2616%) hue-rotate(98deg) brightness(96%) contrast(77%);
}

.playlist-modal-fondo {
    position: absolute;
    width: 75%;
    height: 80%;
    background-color: #181818;
    top: 10%;
    left: 14.5%;
    padding: 2rem;

}