html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1,
p {
    margin: 0;
}

img {
    max-width: 100%;
}


body {
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    background-color: #181818;
}

.bold {
    font-weight: bold;
}